/* Make all cards square with balanced padding */
.MUI-CARD .MuiCard-root {
  aspect-ratio: 1 / 1; /* Ensures height = width */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 305px;
}

/* Prevent button text from wrapping */
.btn-install {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  background-color: hsl(231, 69%, 60%);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
  width: 100%;
  font-size: 0.675rem;

  margin-top: 10px;
}

.btn-install:hover {
  background-color: hsl(231, 50%, 50%);
}

